<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sync">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".TrackpadModeActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SensitiveActivity" />
        <activity
            android:name=".SettingMenuActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".IpPortSettingActivity"
            android:label="IpPortSetting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PresentationModeActivity"
            android:label="Sync"
            android:theme="@style/AppTheme.FullScreen" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>